.filters{
margin: 20px;
position: relative;
border: 5px;
    border-color: black;
}
/* .box{
    margin: 20px;
    padding: 20px;
    height: 50px;
} */
.box >button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: 700;
    font-size:medium;
    margin-left: 50px;
    font-size: large;
}
input{
    height: 50px;
    border-radius: 10px;
    vertical-align:middle;
    margin: 100px;
    padding: 10px;
}
label{
    margin: 15px;
    font-weight: 700;
    font-size:larger;
}

